/*
=== Table of content ===

1.common css
2.navbar css
3.modal css
4.about css
5.games css
6.spin css
7.pricing css
8.questions css
9.payment css
10.contact css
11.footer css
12.backToTop css

*/

/*common css starts*/
:root {
    --nunito: 'Nunito', sans-serif;
    --anton: 'Anton', sans-serif;
    --cl1: #9d4dfc;
    --cl2: #590fca;
    --cl3: #fe39db;
    --cl4: #af3096;
    --gradient: linear-gradient(to bottom, var(--cl1), var(--cl2));
    --gradient2: linear-gradient(to bottom, var(--cl3), var(--cl4));
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin-bottom: 0;
}

img {
    vertical-align: middle;
}

p {
    margin-bottom: 0;
}

.btn {
    background: var(--gradient);
    color: #fff;
    padding: 0 30px;
    line-height: 50px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-family: var(--anton);
    font-weight: 400;
    font-size: 24px;
    transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    box-shadow: 0px 5px 0px 0px #3a0090;
    text-shadow: 5px 5px 0px var(--cl2);
}

.btn:hover {
    background: var(--gradient2);
    box-shadow: 0px 5px 0px 0px #661355;
    text-shadow: 5px 5px 0px var(--cl4);
    color: #fff;
}

h2 {
    font-family: var(--anton);
    font-weight: 400;
    font-size: 48px;
    color: #fcb100;
}

.text-effect {
    background: -webkit-linear-gradient(top, #ffce19 48%, #f5a50d 50%, #ffce19 80%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: 0 0 35px rgba(175, 48, 150, 0.5);
}

/*common css ends*/

/*navbar css starts*/
.navbar {
    position: absolute;
    z-index: 999;
    width: 100%;
}

.navbar .navbar-toggler {
    border-color: #fff;
    outline: none;
    transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
}

.navbar .navbar-toggler:hover {
    border-color: var(--cl3);
}

.navbar .navbar-toggler span {
    color: #fff;
    font-size: 28px;
    transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
}

.navbar .navbar-toggler:hover span {
    color: var(--cl3);
}

.navbar .navbar-nav .nav-item {
    margin: 0 20px;
}

.navbar .navbar-nav li:nth-child(6) {
    margin-left: 20px;
    margin-right: 10px;
}

.navbar .navbar-nav li:nth-child(7) {
    margin-left: 10px;
}

.navbar .navbar-nav .nav-item .nav-link {
    font-family: var(--nunito);
    font-weight: 600;
    font-size: 20px;
    white-space: nowrap;
    color: var(--cl1);
    transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: var(--cl3);
}

.navbar .navbar-nav li button.btn {
    font-size: 20px;
}

.navbar.fixedNav {
    position: fixed;
    top: 0;
    left: 0;
    background: var(--gradient);
    animation: smooth .6s linear;
}

@keyframes smooth {
    0% {
        top: -80px;
    }

    100% {
        top: 0;
    }
}

.navbar.fixedNav .navbar-brand {
    width: 140px;
}

.navbar.fixedNav .navbar-nav .nav-item .nav-link {
    color: #fff;
}

.navbar.fixedNav .navbar-nav .nav-item .nav-link:hover {
    color: var(--cl3);
}

/*navbar css ends*/

/*modal css starts*/
.modal .modal-title {
    font-size: 28px;
    font-family: var(--nunito);
    font-weight: 700;
}


.modal .modal-body form .form-group input {
    font-family: var(--nunito);
    font-weight: 400;
    outline: none;
}

.modal .modal-body form .form-group small {
    color: red;
}

/*modal css ends*/

/*about css starts*/
#about {
    background: #150035;
    padding-top: 188px;
    padding-bottom: 170px;
}

#about .img-part {
    width: 48%;
}

#about .text-part {
    width: 52%;
}

#about .text-part .content {
    margin-top: 40px;
    margin-left: 60px;
    padding-right: 80px;
}

#about .text-part .content span {
    color: #fff;
    font-family: var(--nunito);
    font-weight: 400;
    font-size: 20px;
}

#about .text-part .content h1 {
    color: #fcb100;
    font-family: var(--anton);
    font-weight: 400;
    font-size: 331px;
    background: -webkit-linear-gradient(top, #fdb125 48%, #e07e1e 50%, #fdb125 80%);
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 0 35px rgba(175, 48, 150, 0.7));
    -webkit-background-clip: text;
    margin-top: -47px;
    margin-left: -9px;
    margin-bottom: -32px;
}

#about .text-part .content p {
    color: #fff;
    font-family: var(--nunito);
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
}

/*about css ends*/

/*games css starts*/
#games {
    background: #0b001b;
    padding-bottom: 98px;
    position: relative;
}

#games .no-gutters {
    transform: translateY(-50%);
    clip-path: polygon(0 7%, 100% 0%, 100% 100%, 0 93%);
}

#games .no-gutters .box {
    background: var(--cl2);
    padding: 30px 0;
}

#games .no-gutters .box.shadow {
    box-shadow: inset 5px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

#games .no-gutters .box h2 {
    font-size: 50px;
    margin-bottom: 18px;
    letter-spacing: 3px;
}

#games .no-gutters .box h4 {
    font-family: var(--anton);
    font-weight: 400;
    color: #fff;
    font-size: 32px;
    text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
}

#games .no-gutters .box p {
    font-family: var(--nunito);
    font-weight: 400;
    color: #fff;
}

#games .section-header {
    margin-top: -40px;
    margin-bottom: 52px;
}

#games .game-box {
    position: relative;
    overflow: hidden;

}

#games .game-box .overlay {
    position: absolute;
    top: -100%;
    left: 0;
    background: rgba(21, 0, 53, .85);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
}

#games .game-box:hover .overlay {
    top: 0;
    opacity: 1;
}

#games .game-box .overlay .content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

#games .game-box .overlay .content h3 {
    color: #fff;
    font-family: var(--anton);
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 46px;
}

#games .game-box .overlay .content .btn {
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/*games css ends*/

/*spin css starts*/
#spin {
    background: #150035;
    padding-top: 98px;
    padding-bottom: 20px;
}

#spin .img-part {
    padding-right: 68px;
}

#spin .text-part {
    padding-top: 50px;
}

#spin .text-part h2 {
    margin-bottom: 53px;
}

#spin .text-part p {
    color: #fff;
    font-size: 16px;
    line-height: 26px;
}

#spin .text-part p:last-of-type {
    margin-top: 22px;
    margin-bottom: 50px;
}

/*spin css ends*/

/*pricing css starts*/
#pricing {
    background: #0b001b;
    padding-top: 98px;
    padding-bottom: 90px;
}

#pricing .section-header {
    margin-bottom: 92px;
}

#pricing .price-box {
    background: var(--gradient);
    border-radius: 5px;
    position: relative;
    padding-top: 56px;
    padding-bottom: 54px;
    transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
}

#pricing .price-box:hover {
    transform: translateY(3.5%);
}

#pricing .price-box span.feat {
    font-family: var(--nunito);
    font-size: 20px;
    font-weight: 600;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background: var(--gradient2);
    color: #fff;
    padding: 0 30px;
    line-height: 54px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
    outline: none;
    font-size: 24px;
    transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    box-shadow: 0px 5px 0px 0px #661355;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 150px;
    z-index: -1;
    opacity: 0;
}

#pricing .price-box:hover span.feat {
    top: -50px;
    opacity: 1;
}

#pricing .price-box h4 {
    font-family: var(--anton);
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 2px !important;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
}

#pricing .price-box span.price {
    font-family: var(--nunito);
    font-size: 50px;
    font-weight: 700;
}

#pricing .price-box p {
    font-family: var(--nunito);
    font-size: 14px;
    font-weight: 400;
    margin-top: -8px;
    margin-bottom: 22px;
}

#pricing .price-box hr {
    background: #5a368f;
    width: 100%;
    height: 1px;
    border: none;
}

#pricing .price-box ul li {
    margin-top: 18px;
}

#pricing .price-box a.btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
}

/*pricing css ends*/

/*questions css starts*/
#questions {
    background: #150035;
    padding: 90px 0;
}

#questions .section-header {
    margin-bottom: 24px;
}

#questions .section-header h2 {
    font-size: 40px;
    text-shadow: 10px 10px 65px rgba(254, 57, 218, 0.4);
}

#questions hr {
    background: #070006;
    height: 1px;
    width: 100%;
    box-shadow: 0px 1px 0px 0px #2f0a5d;
    margin-bottom: 32px !important;
}

#questions .questions-part .accordion .box {
    padding: 0 30px;
    padding-top: 24px;
    margin-bottom: 20px;
}

#questions .questions-part .accordion .box.dropDown {
    border: 1px solid #fcb100;
    margin-top: 50px;
}

#questions .questions-part .accordion .box label {
    font-family: var(--nunito);
    font-weight: 400;
    font-size: 20px;
    display: block;
    position: relative;
    cursor: pointer;
    padding-bottom: 6px;
    padding-right: 10px;
    /* background: orange; */
}

#questions .questions-part .accordion .box label i {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
}

#questions .questions-part .accordion .box.dropDown label i {
    transform: rotate(180deg);
}

#questions .questions-part .accordion .box .content {
    height: 0;
    overflow: hidden;
    overflow-y: auto;
    transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
}

#questions .questions-part .accordion .box.dropDown .content {
    height: 122px;
    padding-top: 20px;
}

#questions .questions-part .accordion .box .content p {
    font-family: var(--nunito);
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 24px;
}

#questions .tournament {
    position: relative;
}

#questions .tournament .timer {
    font-family: var(--nunito);
    font-weight: 600;
    text-transform: capitalize;
    font-size: 20px;
    position: relative;
    color: #fff;
    width: 100%;
    padding-left: 180px;
    margin-bottom: 55px;
}

#questions .tournament .timer .time-intro {
    position: absolute;
    left: 0;
    top: 24px;
}

#questions .tournament .timer .hour,
#questions .tournament .timer .min,
#questions .tournament .timer .sec {
    color: #fcb100;
    border: 1px solid #fcb100;
    display: inline-block;
    text-align: center;
    margin-left: 21px;
    padding: 6px 7px;
    border-radius: 5px;
}

#questions .tournament .timer .hour span,
#questions .tournament .timer .min span,
#questions .tournament .timer .sec span {
    width: 100%;
}

#questions .tournament .players hr {
    margin: 19px 0 !important;
}

#questions .tournament .players .participant {
    position: relative;
    font-family: var(--nunito);
    font-weight: 400;
    font-size: 16px;
}

#questions .tournament .players .participant img {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#questions .tournament .players .participant span.price {
    position: absolute;
    right: 0;
}

/*questions css ends*/

/*payment css starts*/
#payment {
    padding-top: 30px;
    padding-bottom: 30px;
    background: var(--gradient);
}

#payment .section-header h2 {
    font-size: 32px;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
    padding-bottom: 7px;
}

#payment .subscribe form #mail {
    width: 90%;
    border-radius: 0;
    background: transparent;
    border: 1px solid #3a0090;
    color: #fff;
    font-family: var(--nunito);
    font-weight: 400;
}

#payment .subscribe form button {
    width: 10%;
    background: transparent;
    border: 1px solid #3a0090;
    line-height: 36px;
    border-left: none;
    color: #3a0090;
    cursor: pointer;
}

#payment .payment-part ul li {
    width: 64px;
    float: left;
    margin-right: 15px;
}

#payment .payment-part ul li:last-of-type {
    margin-right: 0 !important;
}

/*payment css ends*/

/*contact css starts*/
#contact {
    padding-top: 54px;
    padding-bottom: 65px;
    background: #0b001b;
    box-shadow: 0px -6px 0px 0px #3a0090;
}

#contact .section-header {
    margin-bottom: 20px;
}

#contact .section-header h2 {
    font-size: 32px;
}

#contact .jackpot p {
    font-family: var(--nunito);
    font-weight: 200;
    line-height: 26px;
    margin-bottom: 36px;
}

#contact .jackpot ul li {
    display: inline-block;
    margin-right: 12px;
}

#contact .jackpot ul li a {
    border-radius: 0;
    padding: 0 18px;
    font-size: 20px;
}

#contact .links .link-list ul li {
    margin-bottom: 16px;
}

#contact .links .link-list ul li a {
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
    transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
}

#contact .links .link-list ul li a:hover {
    color: var(--cl1);
}

#contact .security ul {
    margin-top: 23px;
}

#contact .security ul li {
    position: relative;
}

#contact .security ul li:first-of-type {
    margin-bottom: 32px;
}

#contact .security ul li img {
    width: 70px;
}

#contact .security ul li span {
    position: absolute;
    left: 100px;
}

/*contact css ends*/

/*footer css starts*/
#footer {
    background: #0b001b;
}

#footer hr {
    border: none;
    background: linear-gradient(to right, #290a59, #5f16ce, #290a59, #290a59, #290a59, #290a59, #5f16ce, #290a59);
    width: 100%;
    height: 1px;
}

#footer p {
    font-family: var(--nunito);
    font-weight: 400;
    line-height: 54px;
}

/*footer css ends*/

/* back to top starts */
#backToTop {
    width: 40px;
    height: 40px;
    background: var(--gradient);
    position: fixed;
    right: 30px;
    bottom: 30px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    color: #fff;
    display: none;
    animation: toBottom linear .8s;
    transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
}

@keyframes toBottom {
    0% {
        bottom: 100%;
    }

    60% {
        bottom: 30px;
    }

    80% {
        bottom: 80px;
    }

    100% {
        bottom: 30px;
    }
}

#backToTop:hover {
    background: var(--gradient2);
    color: #fff;
}

#backToTop i {
    text-align: center;
    line-height: 36px;
    font-size: 18px;
    width: 100%;
    height: 100%;

}

/* back to top ends */